# DB Configuration
DB_URL=jdbc:postgresql://192.168.x.x:5432/monitoring_db
DB_USER=monitoring_user
DB_PASS=your_db_password

# Prometheus Configuration
PROMETHEUS_URL=http://192.168.x.x:9090

# SSH Pull Service (Credentials for VM Log Access)
SSH_USER=pfeadmin
SSH_PASS=your_ssh_password
